# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
.coverage
htmlcov/

# Node
node_modules/
frontend/dist/
frontend/.env
frontend/coverage/
frontend/.pnpm-store/
frontend/playwright-report/
frontend/test-results/

# Infra
*.tfstate
*.tfstate.backup
.terraform/

# Misc
.DS_Store
*.log
